<!doctype html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        {% block head-extra %}{% endblock %}    
    </head>
    {% endblock %}

    {% block body %}
    <body>
        {% include 'navigation.html' %}

        {% block header %}{% endblock %}

        {% block container %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        {% block footer %}
        <footer>
            {% include 'footer.html' %}
        </footer>
        {% endblock %}

        {% block foot %}
            {% block foot-extra %}{% endblock %}
        {% endblock %}
    </body>
    {% endblock %}
</html>
